@{
    ViewBag.Title = "How To Use";
}

<div class="container text-center">
    <h2 class = "m-3">How to use the BlackJack Cheater</h2>
    <ol class="list-group list-group-flush">
        <li class="list-group-item">Offer a beer to <b>Simone Denardi</b></li>
        <li class="list-group-item">Ask him how to use the BlackJack Cheater</li>
    </ol>
</div>
